<!DOCTYPE html>
<html lang="en">
<head>
    <!-- TODO: add to repo -->
    <script src="https://unpkg.com/htmx.org@1.9.10" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/public/styles/tailwind.css">

    <!-- Overridable head info -->
    {% block head %}
    <title>Index</title>
    {% endblock %}

</head>
<body>
<div class="bg-matrix-950 h-screen w-screen">
  <div class="min-w-full md:px-20">
    <div class="min-w-full bg-matrix-900 min-h-screen border-x-[1px] border-zinc-800 shadow-xl max-w-7xl">
      {% block content %}<p>Placeholder content</p>{% endblock %}
    </div>
  <div>
</div>
</body>
</html>
