{% extends "base.html" %}

<!-- ------ -->
<!-- Header -->
<!-- ------ -->
{% block head %}
<title>Blog</title>
{% endblock %}

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
{% block content %}
<div class="grid grid-cols-4 gap-4 content-start pt-4">
  <div class="text-3xl text-center">Blog</div>
  <div class="text-3xl text-center">About</div>
  <div class="text-3xl text-center">Projects</div>
  <div class="text-3xl text-center">Photos</div>
</div>
<p class="text-6xl text-center pt-10 text-wrap">Articles will go here</p>

{% endblock %}
